
.group_box {
	display: flex;  
	flex-wrap: wrap;
	margin-left: 8px;
}

.group_toolbar_title {
	text-transform: uppercase;
}

.group_toolbar_buttons {

}

.group_toolbar_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;
}

.add_group_button {
	width: 200px;
	height: 50px;
	line-height: 50px;
}

