

.group_priority_text {
    text-align: start;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 20px;
}

.group_priority_element {
    color: #0F3189;
    cursor: pointer;
    font-weight: bold;
}

.groups_title {
    text-align: start;
    font-size: 18px;
    margin-left: 16px;
    margin-right: 16px;
}

.student_edit_dialog {
    margin-top: 10%;
    width: 700px;
}

.student_edit_dialog_title {
    margin-bottom: 0px;
}
