.student_popup_dialog_container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.student_popup_dialog {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #000;
    position: relative;
    width: 200px;
}

.student_popup_dialog__item {
    padding: 8px;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
}

.student_popup_dialog__item:active {
	background-color: #0094E2;
	color: #fff;
}

.student_popup_dialog___group_item {
    padding: 4px 8px;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
}