.toolbar_box {
	display: flex;
	padding: 16px 32px;
	align-items: center;
	justify-content: space-between;
}

.toolbar_buttons {
	display: flex;
	height: 40px;
}

input[type="file"] {
    display: none;
}

.toolbar_button {
	font-size: 20px;
	border-radius: 8px;
	padding-left: 24px;
	padding-right: 24px;
	color: #fff;
	line-height: 40px;
	margin-left: 8px;
	background-color: #0094E2;
}

.toolbar_button:hover {
	background-color: #109de8;
}

.toolbar_button:active {
	background-color: #0881c2;
}

.test_label {
	font-size: 18px;
	margin-right: 8px;
	display: flex;
	align-items: center;
}

.test_checkbox {
	width: 24px;
	height: 24px;
	outline: none;
}

.test_input {
	outline: none;
	border: 3px solid #0881c2;
	border-radius: 8px;
	padding-left: 8px;
	padding-right: 8px;
	width: 120px;
	font-size: 23px;
}
