.header {
	display: flex;
	align-items: center;
	background: #0F3189;
	height: 60px;
}

.header_title {
	font-size: 30px;
	letter-spacing: 4px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	margin-left: 32px;
}

.search_box {
	margin-left: 32px;
	margin-right: auto;
	display: flex;
}

.center {
	position: absolute;
	width: 10px;
	height: 100vh;
	background-color: red;
	left: 50%;
	transform: translateX(-50%);
}

.search_input {
	outline: none;
	border: none;
	border-radius: 8px;
	caret-color: #0094E2;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 22px;
	flex: 1;
	height: 40px;
	right: 56px;
}

.search_toggle_button {
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 130px;
	color: #fff;
	line-height: 40px;
	margin-left: 8px;
	background-color: #0094E2;
}

.search_toggle_button:hover {
	background-color: #109de8;
}

.search_toggle_button:active {
	background-color: #0881c2;
}


.menu_box {
	display: flex;
}

.menu_item {
	font-size: 20px;
	margin-right: 24px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;

}

.menu_item:hover {
	color: #0094E2;
	text-decoration: none;
}

.menu_button {
	display: none;
	position: relative;
	margin-left: auto;
	margin-right: 16px;
	width: 40px;
	height: 40px;
}

.menu_button_icon {
	fill: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
}


@media (max-width: 1200px) { 
	.menu_box {
		display: none;
	}
	.menu_button {
		display: block;
	}
}


@media (max-width: 900px) {
	.search_box {
		display: none;
	}
}